.header-container {
    display: flex;
    /* justify-content: center; */
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 150px auto;
    
}

.logo-name {
    font-size: 4.2em;
}

.logo-side {
    margin-left: 10px;
}

.logo-motto {
    font-weight: bold;
    font-size: 1em;
    text-align: center;
}

.logo-line {
    background-color: #004EA5;
    width: 9em;
    height: 13px;
    color: white;
    font-size: .5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.register-login > button {
    padding: 20px 30px;
    border-radius: 5px;
    width: 25em;
    font-size: 20px;
    margin: 5px;
    cursor: pointer;
}

.register {
    border: 1px transparent;
    background-color: #004EA5;
    color: white;
}

.login {
    border: 1px solid black;
}