.header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 150px auto;
    
}

.logo-name {
    font-size: 4.2em;
}

.logo-side {
    margin-left: 10px;
}

.logo-motto {
    font-weight: bold;
    font-size: 1em;
    text-align: center;
}

.logo-line {
    background-color: #004EA5;
    width: 9em;
    height: 13px;
    color: white;
    font-size: .5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.register-login > * {
    padding: 20px 30px;
    border-radius: 5px;
    width: 20em;
    font-size: 20px;
    font-weight: bold;
    margin: 5px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.register-login > *:hover {
    width: 25em;
    box-shadow: inset 0px 5px 40px -10px rgba(0,0,0,0.57);
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.3s ease 0s;
}

.register {
    border: 1px transparent;
    background-color: #004EA5;
    color: white;
    text-decoration: none;
    text-align: center;
}

.register:hover {
    color: black;
    background-color: lightblue;
}

.login {
    border: 1px solid black;
    text-decoration: none;
    text-align: center;
}

.login:hover {
    background-color: black;
    color: white;
}

button:focus {
    outline: 0;
}