.header-container {
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    margin: 100px auto;
}

.header-container > div:first-child {
    margin-bottom: -25px; 
}

.logo-name {
    font-size: 80px;
}

.logo-line {
    width: 200px;
    height: 30px;
    background-color: red;

}

.logo-line {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
}